.optns {
    display: flex;
    flex-direction: row;
    text-align: start;

}

.btn {
    display: flex;
    padding: 3px;
    margin-right: 8px;
    border: 1px solid #1e2120;
    border-radius: 2px;
    color: black;
    text-align: center;
    background-color: hsl(0, 5%, 92%);
    font-weight: normal;
    /* gap: 5px; */
}